@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fonte: 'Poppins', sans-serif;
    --azul: #03a9f4;
    --branco: #fff;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 700;
    letter-spacing: 1px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    margin-right: 40px;
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
}

header .navigation li a:hover {
    color: var(--azul);
}

.conteudo {
    max-width: 600px;
}

.conteudo .conteudoBox h2 {
    font-size: 4em;
    color: var(--branco);
    line-height: 1em;
}

.conteudo .conteudoBox p {
    font-size: 1.1em;
    color: var(--branco);
    margin: 30px 0;
    font-weight: 500;
}

.conteudo .conteudoBox a {
    background: var(--azul);
    padding: 10px 30px;
    color: var(--branco);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
}

.redes {
    position: absolute;
    bottom: 30px;
    display: flex;
}

.redes li { 
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.redes li a {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

.redes li a:hover {
   transform: scale(0.8);
   transition: 0.5s;
}

@media (max-width: 991px) {
    section header {
        padding: 15px 100px;
    }

    .conteudo .conteudoBox h2 {
        font-size: 2em;
    }

    .conteudo .conteudoBox p {
        font-size: 1em;
    }

    section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: url(/assets/img/bg2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    header .navigation { 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--preto);
        font-size: 30px;
        margin: 20px 0;
        z-index: 11;
    }
}